
$primary_color: #ff9418;
//$primary_color:#3cafff;
$secondary_color: #777;
$black_background: #242123;
$gray_background: #f3f3f3;
$navbar_background_color: #fefefd;
$min_width:300px;

$primary_font_family: 'Amatic SC',cursive;
$secondary_font_family: Helvetica,Arial, sans-serif;

